body {
  background-color: white;
    
}

h1 {
  color: black;
  text-align: center;
}
h2#top{
  color: black;
  text-align: center;
}
p#indexP {
  font-family: Cambria;
  font-size: 20px;
  color:black;
  margin: inherit;
  padding: 15px;
  text-align: left;

}
p#p2 {
  font-family: Cambria;
  font-size: 20px;
  color:black;
  margin: inherit;
  padding: 15px;
}
h4#Languages {
    color: black;
    text-align: center;
}
li {
    display: block;
}
h4#Skills {
    color: black;
    text-align: center;
}
h2#bar {
    background-color: rgba(0,0,0,0.45);
    text-align: center;
}
a {
    color: black;
    
}
div#body{
    padding-left: 540px;
    padding-right: 540px;
}
img#Kevin {
 float: right;
 padding: 10px;
 border-radius:50%;
}
div#divBar {
    padding-left: 500px;
    padding-right: 500px;
    border-radius: 50%;
}
img#scratch {
 padding: 10px;
 align-self: center;
}
h2#Dio {
    text-align: center;
    color: white;
}
p#p2 {
    text-align: center;
}
div#cenIm {
    text-align: center;
}
p#ul {
    color:black;
    text-align: center;
}