body {
  background-color: white;
    
}

h1 {
  color: black;
  text-align: center;
}
h2#top{
  color: black;
  text-align: center;
}
p#indexP {
  font-family: Cambria;
  font-size: 20px;
  color:black;
  margin: inherit;
  padding: 15px;
  text-align: left;

}
p#p2 {
  font-family: Cambria;
  font-size: 20px;
  color:black;
  margin: inherit;
  padding: 15px;
}
h4#Languages {
    color: black;
    text-align: center;
}
li {
    display: block;
}
h4#Skills {
    color: black;
    text-align: center;
}
h2#bar {
    text-align: center;
}
a {
    color: white;
    
}
div#body{
    padding-left: 540px;
    padding-right: 540px;
}
img#Kevin {
 float: right;
 padding: 10px;
 border-radius:50%;
}
div#divBar {
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(0,0,0,1);
    border-radius: 25px;
    padding: 5px; 
}
img#scratch {
 padding: 10px;
 align-self: center;
}
h2#Dio {
    text-align: center;
    color: white;
}
p#p2 {
    text-align: center;
}
div#cenIm {
    text-align: center;
}
p#ul {
    color:black;
    text-align: center;
}
label {
    text-align: center;
    padding-bottom: 15px;
}
form {
    padding-left: 540px;
    padding-right: 540px;
    text-align: center;
}
textarea {
    width:500px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}